{% extends 'logInbar.html.twig' %}


{% block body %}
    {% block content %}{{ parent() }}{% endblock %}
    <div class='weatherContner'>
        <div class='weatherContnerHead'>
            <div class='weatherTitle'>
                <label>Pogoda</label>
            </div>
            <div class='weatherContnerSelect'>
                <div class='weatherContnerServis'>
                    <label>Wybierz serwis</label>
                    <select class='form-control'></select>
                </div>
                <div class='weatherContnerCity'>
                    <label>Wybierz miasto</label>
                    <input type='text' class='form-control'></select>
                </div>
            </div>
            <div class='weatherContnerButton'>
                <button class='btn btn-primary'>Sprawdź pogodę</button>
            </div>
        </div>
        <div class='weatherContnerBody'>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/../../assets/weather/css/weather.css" />
{% endblock %}
{% block javascripts %}
{% endblock %}