.logInBarLogo{
    width: 30%;
    padding: 3px 20px;
    font-size: 25px;
    display: inline-block;
    font-weight: bold;
}

.logInBarLogin{
    width: 69%;
    text-align: right;
    display: inline-block;
}

.login, .password {
    width: 150px;
    display: inline-block;
}
