
.logInBar{
    
}

.logInBarLogo{
    width: 30%;
    padding: 3px 20px;
    font-size: 25px;
    display: inline-block;
    font-weight: bold;
}

.logInBarLogin{
    width: 69%;
    text-align: right;
    display: inline-block;
}

.logInBarLogin label{
    background-color: #007bff;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
    border: 1px solid #28a745;
}

.logInBarLogin label:hover{
    background-color: white;
    color:#007bff;
    border: 1px solid #007bff;
}