<!DOCTYPE html>
<html>
    <body>
        {% block content  %}
            <div class='w-100 bg-success logInBar'>
                <div class='text-white logInBarLogo'>Pogoda</div>
                <div class='logInBarLogin'>
                    <label >Zaloguj</label>
                </div>
            </div>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="/../assets/logInBar/css/loginBar.css" />
        {% endblock %}
    </body>    
</html>